[Unit]
Description=OpenVPN connection to %i
After=network.target

[Service]
Type=forking
ExecStart=sudo -E openvpn --daemon ovpn-%i --cd /tmp --config %h/Nextcloud/OpenVPN/bealv/int.ovpn
ExecReload=sudo -E killall openvpn
ExecStop=sudo -E killall openvpn
WorkingDirectory=/tmp
Restart=always

[Install]
WantedBy=default.target
