#!/bin/bash
{{ if eq .chezmoi.osRelease.idLike "arch" }}
  yay -S --noconfirm \
    rbw \
    sddm \
    swaybg \
    swayfx \
    swayidle \
    swaylock \
    dex \
    mako \
    alacritty \
    wofi \
    copyq \
    zsh \
    python-pywal \
    python-pywalfox \
    nwg-displays
{{ end }}

systemctl enable sddm.service
systemctl start sddm.service
