#!/bin/bash
{{ if eq .chezmoi.osRelease.idLike "arch" }}
  yay -S --noconfirm \
    rbw \
    swaybg \
    swayfx \
    swayidle \
    swaylock \
    dex \
    mako \
    alacritty \
    wofi \
    copyq \
    zsh \
    python-pywal \
    python-pywalfox \
    ttf-font-awesome \
    gnome-keyring \
    blueman \
    sane \
    sane-airscan \
    cups \
    tumbler \
    flat-remix-gtk \
    nwg-displays
{{ end }}

yay -Qtdq | yay -Rns --noconfirm -
