#!/bin/bash
{{ if eq .chezmoi.osRelease.idLike "arch" }}

#  yay -Rnscc --noconfirm \
#    eos-qogir-icons \
#    arc-gtk-theme-eos \
#    imv

#  yay -Rncc --noconfirm \
#    eos-sddm-theme

  yay -S --noconfirm \
    rbw \
    noto-fonts-emoji \
    adobe-source-han-fonts \
    swaybg \
    swayfx \
    swayidle \
    swaylock \
    dex \
    mako \
    alacritty \
    wofi \
    copyq \
    zsh \
    python-pywal \
    python-pywalfox \
    ttf-font-awesome \
    gnome-keyring \
    blueman \
    sane \
    sane-airscan \
    cups \
    tumbler \
    flat-remix-gtk \
    powerline-fonts \
    nwg-displays \
    mpv \
    geeqie \
    premid-git \
    powertop \
    sway-audio-idle-inhibit \
    python-pypresence \
    mpv-thumbfast-git \
    mpvpaper \
    fetchcord-git \
    lsb-release

  yay -Qtdq | yay -Rns --noconfirm -

{{ end }}

